<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daftar Pengguna</title>
</head>
<body>
    <h1>Daftar Pengguna</h1>
    <ul>
        <% for (let i = 0; i < users.length; i++) { %>
            <li>
                Nama Pengguna: <%= users[i].email %><br>
                Gender: <%= users[i].gender %><br>
                Peran: <%= users[i].role %><br>
            </li>
        <% } %>
    </ul>
</body>
</html>